* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100%
}

nav, footer {
  background-color: lightblue;
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
}

main {
  flex-grow: 0;
  background-color: peachpuff;
  min-height: calc(100vh - 100px)
}

p {
  margin-bottom: 20px;
  /* outline: 2px red solid */
}